<% content_for :page_title do %>
  Google Trusted Store Settings
<% end %>

<div class='row'>
  <%= link_to 'Back', spree.admin_general_settings_path, class: 'button' %>
</div>

<div class='row'>
  <h2>Google Trusted Store shipment feed path: </h2>
  <%= text_field_tag 'shipment_feed_path', spree.google_trusted_store_shipment_feed_url, readonly: true, style: 'width: 70%;' %>
</div>

<div class='row'>
  <h2>Google Trusted Store cancelation feed path: </h2>
  <%= text_field_tag 'cancelation_feed_path', spree.google_trusted_store_cancelation_feed_url, readonly: true, style: 'width: 70%;' %>
</div>

<%= form_for @google_trusted_store_setting, url: spree.admin_google_trusted_store_setting_path(@google_trusted_store_setting) do |f| %>
  <div class='form-group'>
    <div class='form-group'>
      <%= f.text_field :account_id %>
    </div>
    <div class='form-group'>
      <%= f.text_field :default_locale %>
    </div>
  </div>
<% end %>
